
.reply-input{
    height: 30px;
    margin-left: 12px;
    width: 95%;
    min-height: 30px;
  }
  
  .standar-input{
    border-color:  white;
    border-radius: .8rem;
    font-size: 14px;
    resize: none;
  }
  .standar-input:focus{
    outline: none ;
  }
  
  .reply-form { 
    text-align: left;
    margin-left:auto;
    margin-top: 1rem;
    background-color: white;
    margin-bottom: 1rem;
    border-style: solid;
    border-color:  white;
    border-radius: .8rem;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173)
  }
  
  .auto_height { 
    background-color: whitesmoke;
    margin-top: 10px;
    width: 80%;
    height: 60px;
    min-height: 60px;
    border-width: 5px;
    border-style: solid;
    border-color:  white;
    border-radius: .8rem;
    font-size: 14px;
    resize: none;
  }



.comment-submit-button{
    color: black;
    background-color: white;
    width: 100px;
    float: right;
    margin-right: 20px;
    border-width: 1px;
    transition: .3s;
  }
  .comment-submit-button:hover{
    background-color: whitesmoke;
  }
  .comment-submit-button:active{
    color: white;
    background-color: #263E57; 
  }
  
  .comment-form-container{
    margin: auto;
    width: 90%;
  }

  .emojis-img{
    width: 20px;
    background-color: white;
    padding-bottom: 10px;
  }

  .emojis-wraper{
    margin-top: 10px;
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    align-items: center;
    align-content: center;
    max-width: 200px;
    position: absolute;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
    z-index: 10;
    gap: 5px;
  }

  .emojis{
    background-color: white;
    border-color:  white;
    border-width: 0px;
    font-size: 16px;
  }
  
  .text-area-emojis-container{
    display: flex;
  }

  .comment-and-reply-image{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100px;
    border-radius: .5rem;
  }
  
  .input-file{
    padding: 15px 120px;
    cursor: pointer;
    transition: 0.5s;
  }

  .input-container{
    border: 5px;
    background: url('./photos/photo-camera.png');
    width: 22px;
    height: 22px;
    background-size: 100% 100%;
    overflow: hidden;
     margin-left: 12px;
     margin-bottom: 5px;
  }
  
